body {
  background: #fff;
}

.mip-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.mip-card {
  width: 300px;
}

.mip-pad {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mip-pad button {
  margin: 1em 0.5em;
}
